<main>
<div class= "home">
  <div class="top-conteiner">
  	</div>
	</div>
    <div class="top-message">
	   <h3>Co2icoへようこそ！！</h3>
	  <p>
		あなただけの特別なお店を見つけてください。
    </p>
	  </div>

<div class= "home">

</div>
 <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
</div>
</main>
