/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



header {
  background-image: url(background.jpg);
  background-size: cover;
  font-family: 'Vollkorn', serif;
}

main {
  font-family: 'Vollkorn', serif;
  background-color: #404040;
  background-image: url(back.jpg);
  background-size: cover;
  width: 100%;
  height: 1200px;
  text-align: center;
  padding-top: 30px;
}
.navbar{
  background-image: url(background.jpg);
 background-color: #804532;
}


.container {
  background-color: rgba( 255, 255, 255, 0.8);
  width: 100%;
  height: 1000px;
  padding: 20px;
}

.icon {
  color: #000000;
  font-weight: 700;
  background-color: #d0d0d0;

  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px;
}

.copy-light {
  color: #000000;
  font-weight: 700;
}



.footer-logo {
  text-align: center;
  padding-top: 50px;
}

footer{
  background-image: url(background.jpg);
}

.button {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 100px;
  color: #e95464;
  background-color: #000000;
  transition: 0.8s;
}

.button:hover {
  color: #e95464;
  text-decoration: none;
  opacity: 0.6;
}

.top-header{
    background-color: #24140e;
    color: #e6b422;
    width: 280px;
    border-spacing: 2px;
    text-align: center;
}
.top-header2{
    background-color: #24140e;
    color: #e6b422;
    width:220px;
    justify-content: center;
}
.registrations,main{
   justify-content: center;
  }

.new-btn {
  margin: auto;
}


.top{
   padding-top: 50px;
}

.home{
  background-image: url(toppage.jpg);
  justify-content: center;
  width: 100%;
  height: 1200px;
}

.top-conteiner{
  font-family: 'Vollkorn', serif;
  background-size: cover;
  width: 100%;
  height: 1200px;
  text-align: center;
  padding-top: 250px;
}
.top-message{
font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #d3d3d3;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);

}