<table>
	<thead>
		<th>会員ID</th>
		<th>名前</th>
		<th>会員ステータス</th>
		
	</thead>
	<tbody>
		<% users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.name %></td>
				<td>
					<% if user.is_active? %>
						<span class="text-active">登録ユーザー</span>	
					<% else %>
						<span class="text-invalid">退会ユーザー</span>
					<% end %>
				</td>
				<td><%= link_to "詳細", admin_user_path(user), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>