<main>
	<div class= "container">
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user) %>
    <%#= image_tag user.get_image, class: "rounded-circle", size: "150x150" %>
  <% end %>
  <table>
	<thead>
		<th>会員ID</th>
		<th>名前</th>
		<th>会員ステータス</th>

	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, user_path(user) %></td>
				<td>
					<% if user.is_deleted? %>
						<span class="text-active">退会ユーザー</span>
					<% else %>
						<span class="text-invalid">登録ユーザー</span>
					<% end %>
				</td>
				<td><%= link_to "詳細", user_path(user), class: "button" %></td>
			</tr>
		<% end %>
	</tbody>
	</div>
</table>
</div>
</main>